:root {
   --color-neutral-light:#ffefe6;
   --color-neutral-medium:#ffdac4;
   --color-neutral-dark:#ce5d53;


    --color-main-light: #bcebff;
    --color-main-medium: #ffefe6;
    --color-main-dark: #ce5d53;

    --color-alt-light: #e5d7fa;
    --color-alt-medium: #6515e2;
    --color-alt-dark: #27055c;
    
    --color-warning: #ff8080;
    --color-error: #f986b6;
    --color-purchase: #f2e5a0;
}

body {
   font-family:'Rubik', sans-serif;
   background-color:#f9f9f9;
   padding-bottom:10em;
}




.view-window>h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.3);
    padding: 1em;
    border-radius: 1em;
    color: white;
    font-size: 3em;
}

[class*='col-']>.card {
  height:100%;
  margin:0;
}


[class*='col-']>.well {
  height:100%;
}






/* Product List Design */
.product-item {
    margin: 0;
    border-radius:0.7em;
    background-color:white;
    box-shadow:1px 1px 4px rgba(0,0,0,0.2);
    padding:1em;
    transition:all 0.3s;
}
.product-item:hover {
    box-shadow:1px 1px 12px rgba(0,0,0,0.4);
}
.product-image img {
   width:100%;
}
.product-price,
.product-title {
   font-weight:normal;
}
a:hover .product-item {
   text-decoration:none !important;
}
.product-price {
    font-size: 1.2em;
    padding: 0.2em 0.4em;
}
.product-title {
    font-size: 1.7em;
}




@media (max-width:600px) {
  h2 {
    font-size:1em;
  }
}